* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, li, a, button {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.dark {
  background-color: #333;
}

.dark > * #navbar {
  background-color: #d49f00;
}

.dark > * #bottomNavbar {
  background-color: #d49f00;
}

.light {
  background-color: whitesmoke;
}

.light > * #navbar {
  background-color: #F5B700;
}

.light > * #bottomNavbar {
  background-color: #F5B700;
}